@media (min-width: 374px) and (max-width: 768px) {

  body, html {
    height: 600px;
  }

  /* HEADER STYLES */


  .header-container {
    margin: 0 auto;
  }

  .notification {
    margin: auto;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 360px;
  }

  .notification-pop-up {
    margin-top: 30px !important; 
  };

  /* END OF HEADER STYLES */

  /* FEATURE PROMO STYLES */
  .feature-promo-heading {
    padding-top: 47px;
  }
  .feature-promo-heading h1 {
    font-size: 46px;
  }
  .feature-promo-heading h2 {
    font-size: 26px;
    line-height: 40px;
  }
  .feature-promo-body {
    margin: auto;
    max-width: 377px;
  }

  .shop-link-buttons-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 78px;
  }


  /* END OF FEATURE PROMO STYLES */


  /* IMAGE GRID STYLES */

  .image-grid {
    margin: 0 !important;
    padding: 0 !important;
  }
  .grid-container {
    grid-gap: 6px;
  }
    /* END OF IMAGE GRID STYLES */

/* PRODUCT DETAIL STYLES */
.product-detail {
  background-image: url(../assets/mobile/tech.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top !important;
}
/* END OF PRODUCT DETAIL STYLES */

.footer {
  padding: none;
}

/* SHOP LINKS STYLES */

.shop-links-container {
  padding-top: 72px;
  padding-bottom: 52px;
}
.shop-links-grid {
  width: 300px;

  grid-template-columns: 1fr;
  gap: 46px;
}

.grid-shoe{
  width: 300px;
  text-align: center;
}

.grid-shoe img{
  width: 272px;
  margin: 0 auto;
}

.grid-button {
  margin: 25px auto !important;
}

.grid-shoe-1 {
  order: 3
}
.grid-shoe-2 {
  order: 4
}
.grid-shoe-3 {
  order: 0
}
.grid-shoe-4 {
  order: 1
}
.grid-button-1 {
  order: 2
}
.grid-button-2 {
  order: 5
}

/* END OF SHOP LINKS STYLES */


/* VIDEO STYLES  */
.video-mobile {
  display: block !important;
  padding: 20px;
}
.video-large {
  display: none !important;
}
/* END OF VIDEO STYLES  */

/* BLOG STYLES */

.blog {
  padding: 30px !important;
}
.blog-title-container {
  padding: 50px 25px 30px 0px; 
}

.blog-title {
  font-size: 26px;
  line-height: 33px;
}

.blog-entry {
  margin-right: 25px;
}
.blog-entry img {
  height: 252px;
}

.blog-entry-text {
  font-size: 20px;
  margin-left: 17px;
  padding-bottom: 30px;
  padding-top: 17px;
  margin-right: 21px;
}

/* END OF BLOG STYLES */
}

