@import url(//db.onlinewebfonts.com/c/15a478cc0eb1d84f4077a2a9d28df0b2?family=DIN+Pro+Regular);
@import url(//db.onlinewebfonts.com/c/5fd82f3bb8dcfc3ce611fab541b92241?family=DIN+Pro+Medium);
@import url(//db.onlinewebfonts.com/c/03f16d9e32dbe7da6c831a87bd666b3e?family=DIN+Pro+Bold);
@import url(//db.onlinewebfonts.com/c/30d8551749f6e45091a70b5a98734251?family=DIN+Pro+Light);

@import url(desktop.css);
@import url(desktopxl.css);
@import url(mobile.css);
@import url(tablet.css);

/* DIN PRO LIGHT */
@font-face {
  font-family: "DIN Pro Light"; 
  src: url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.eot"); 
  src: url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/30d8551749f6e45091a70b5a98734251.svg#DIN Pro Light") format("svg"); 
}

/* DIN PRO REGULAR */

@font-face {
  font-family: "DIN Pro Regular"; 
  src: url("//db.onlinewebfonts.com/t/15a478cc0eb1d84f4077a2a9d28df0b2.eot"); 
  src: url("//db.onlinewebfonts.com/t/15a478cc0eb1d84f4077a2a9d28df0b2.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/15a478cc0eb1d84f4077a2a9d28df0b2.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/15a478cc0eb1d84f4077a2a9d28df0b2.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/15a478cc0eb1d84f4077a2a9d28df0b2.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/15a478cc0eb1d84f4077a2a9d28df0b2.svg#DIN Pro Regular") format("svg"); 
}

/* DIN PRO MEDIUM  */

@font-face {
  font-family: "DIN Pro Medium"; 
  src: url("//db.onlinewebfonts.com/t/5fd82f3bb8dcfc3ce611fab541b92241.eot"); 
  src: url("//db.onlinewebfonts.com/t/5fd82f3bb8dcfc3ce611fab541b92241.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/5fd82f3bb8dcfc3ce611fab541b92241.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/5fd82f3bb8dcfc3ce611fab541b92241.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/5fd82f3bb8dcfc3ce611fab541b92241.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/5fd82f3bb8dcfc3ce611fab541b92241.svg#DIN Pro Medium") format("svg"); 
}

/* DIN PRO BOLD */

@font-face {
  font-family: "DIN Pro Bold"; 
  src: url("//db.onlinewebfonts.com/t/03f16d9e32dbe7da6c831a87bd666b3e.eot"); 
  src: url("//db.onlinewebfonts.com/t/03f16d9e32dbe7da6c831a87bd666b3e.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/03f16d9e32dbe7da6c831a87bd666b3e.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/03f16d9e32dbe7da6c831a87bd666b3e.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/03f16d9e32dbe7da6c831a87bd666b3e.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/03f16d9e32dbe7da6c831a87bd666b3e.svg#DIN Pro Bold") format("svg"); 
}



:root{
  --clr-white: #FFFFFF;
  --clr-orange: #DDAD42;
  --clr-lt-grey: #FCFCFC;
  --clr-off-black: #161615;
  --clr-green: #00FF00;
  --clr-dk-grey: #000000A5;
  --clr-black: #000000;
  --clr-mid-grey: #707070;

  --fw-light: 'DIN Pro Light';
  --fw-regular: 'DIN Pro Regular';
  --fw-medium:'DIN Pro Medium';
  --fw-bold: 'DIN Pro Bold';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

body, html {
  height: 100%;
}

h1 {
  font-family: var(--fw-bold), sans-serif;
}
h1 span, h2 {
  font-family: var(--fw-light), sans-serif;
}

p {
  font-family: var(--fw-regular), sans-serif;
}

.hidden {
  display: none;
}

/* HEADER STYLES */

.header {
  height: 100%;
  background-position: left;
}
.notification-pop-up {
  width: 425px;
  margin-top: 30px;
  margin: 70px auto auto 70px;
}

/* END OF HEADER STYLES */

/* FEATURE PROMO STYLES */
.feature-promo {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  text-align: center;
}

.feature-promo-text {
  margin: 0 25px;
}


.feature-promo-heading .light-text {
  font-family: 'DIN Pro Light', sans-serif !important;
  padding: 0;
  margin: 0
}

.feature-promo-body p {
  font-size: 20px;
  line-height: 30px;
}

.feature-promo-image img{
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.shop-link-buttons-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 630px;
}

.shop-link-button {
  width: 300px;
  height: 80px;
  font-size: 20px;
  font-family: var(--fw-bold), sans-serif;
  border: none;
  background-color: var(--clr-white);
  margin: 15px;
}
/* END OF FEATURE PROMO STYLES */

/* IMAGE GRID STYLES */

.image-grid {
  width: 100%;
  margin: -5% 0;
  padding: 0 20px;
}
.grid-container {
  max-width: 1220px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto
}

.grid-item {
  max-width: 600px;
}

.grid-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


/* END OF IMAGE GRID STYLES */

/* PRODUCT DETAIL STYLES */
.product-detail {
  background-image: url(../assets/desktop/tech.jpg);
  height: 140%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* END OF PRODUCT DETAIL STYLES */

.footer {
  background-color: var(--clr-lt-grey);
}
/* SHOP LINKS STYLES */
.shop-links {
  display: flex;
  /* max-width: 820px; */
  margin: 0 auto;
  
}
.shoes-preview {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.shoes-preview-images {
  display: flex;
}

.shoes-preview-images img, .shoes-preview button {
  max-width: 404px;
}


.shoes-preview-button {
  background-color: var(--clr-green);
  border: none;
  width: 300px;
  height: 80px;
  font-size: 20px;
  font-family: var(--fw-bold);
  margin: auto;
}
/* END OF SHOP LINKS STYLES */

/* VIDEO STYLES */

.video-mobile {
  display: none;
}

.video-large {
  display: block;
}

.video-mobile-content, .video-desktop-content {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}


/* END OF VIDEO STYLES  */