@media (min-width: 768px) and (max-width: 1280px) {
  body, html {
    height: 1024px;
  }
  
  /* HEADER STYLES */
  .header {
    background-image: url(../assets/tablet/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }


  /* END OF HEADER STYLES  */

  /* FEATURE PROMO STYLES */
  .feature-promo-heading {
    padding-top: 63px;
  }
  .feature-promo-heading h1{
    font-size: 60px;
  }
  .feature-promo-heading h2 {
    font-size: 30px;
  }
  .feature-promo-body  {
    max-width: 500px;
    margin: auto;
    padding: 40px 0;  
  }


  .shop-link-buttons-container {
    /* Added 50px more than spec */
    padding-bottom: 128px;
  }

  /* END OF FEATURE PROMO STYLES */

  /* IMAGE GRID STYLES */

  .grid-container {
    grid-gap: 13px;
  }
  /* END OF IMAGE GRID STYLES */


  /* PRODUCT DETAIL STYLES */


/* END OF PRODUCT DETAIL STYLES */

.footer {
  padding: 36px;

}
/* SHOP LINKS STYLES */
.shop-links {
  flex-direction: row;
  max-width: 820px;

}

.shoes-preview {
  flex-direction: column;
}

.shoes-preview-images img, .shoes-preview button {
  margin-bottom: 60px;
}
.shoes-preview-images {
  flex-direction: column;
}

.shoes-preview-images img{
 width: 328px
}


/* END OF SHOP LINKS STYLES */

}